.login-form {
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.signinText {
    font-size: 2.5em;
    text-align: center;
    color: #224957;
}

.loginDescription {
    color: #224957;
    text-align: center;
}

.loginInput{
    background-color: #6d7a74a4;
    border: none;
    border-radius: 10px;
    color: white;
    width: 350px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.loginInput:focus{
    background-color: #6d7a74a4;
    color: white;
    font-weight: 800;
    border: none;
}

.loginLabel {
    color: white;
    margin-left: 20px;
    font-size: medium;
}

.login-btn {
    background-color: #224957;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    border: none;
    width: 350px;
}

.login-btn:hover{
    background-color: rgb(28, 58, 70)
}

.errors {
    color: #224957;
    margin-top: 5px;
}

.adminLoginForm {
    background-color: #e4e1e19b;
    padding:70px;
    border-radius:40px
}