.login-form {
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.signinText {
    font-size: 3em;
    text-align: center;
    color: white;
}

.loginDescription {
    color: white;
    text-align: center  ;
}

.loginInput{
    background-color: #224957;
    border: none;
    border-radius: 10px;
    color: white;
    width: 350px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.loginInput:focus{
    background-color: #224957;
    color: white;
    font-weight: 800;
    border: none;
}

.loginLabel {
    color: white;
    margin-left: 20px;
    font-size: medium;
}

.login-btn {
    background-color: #20DF7F;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    width: 350px;
}

.login-btn:hover{
    background-color: #20df8096;
}

.loginForgot {
    color: #20DF7F;
    font-weight: bold;
}

.google-login{
    background-color: #2D3748;
    border-radius: 10px;
    font-size: medium;
    font-weight: bolder;
    width: 350px;
    border: none;
}

.google-login:hover{
    background-color: #2b323fb2;
}

.errors {
    color: #20DF7F;
    margin-top: 5px;
}